gradio>=3.34.0
transformers
torch
accelerate
pandas
numpy
pillow
sentencepiece
protobuf
scipy
qwen-vl-utils
torchvision
decord
openai-whisper
google-generativeai
python-dotenv
bitsandbytes
fastapi
uvicorn
